<div class="container">
  <div class="row justify-content-center">
    <div class="session">
      <div class="left">
        <span class="login-span"></span>
      </div>
      <form action="" class="log-in" autocomplete="off" [formGroup]="loginForm" (ngSubmit)="loginForm">
        <h4><span>Login</span></h4>
        <p>Welcome Back!</p>
        <div class="floating-label">
          <input
          formControlName="UserName"
            placeholder="User Name:"
            type="text"
            name="UserName"
            id="UserName"
            autocomplete="off"
          />
          <div
          *ngIf="UserName?.invalid && (isSubmit || UserName?.dirty || UserName?.touched)"
        >
          <small class="text-danger py-2">
            User Name is Required
          </small>
        </div>
          <label for="UserName">User Name:</label>
        </div>
        <div class="floating-label">
          <input
          formControlName="Password"
            placeholder="Password:"
            type="password"
            name="Password"
            id="Password"
            autocomplete="off"
          />
          <div
          *ngIf="Password?.invalid && (isSubmit || Password?.dirty || Password?.touched)"
        >
          <small class="text-danger py-2">
            Password is Required
          </small>
        </div>
          <label for="Password">Password:</label>
        </div>
        <button (click)="onLogin()" type="submit" class="btn btn-primary w-50 my-4">Login</button>
        <p class="text-nowrap">
          Not Registered? <button class="register" [routerLink]="'/register'">Sign Up Here</button>
        </p>
      </form>
    </div>
  </div>
</div>
