<div class="container">
  <div class="row justify-content-center">
    <div class="session">
      <div class="left">
        <span class="login-span"></span>
      </div>
      <form [formGroup]="registerUserForm" class="log-in" autocomplete="off">
              <h4><span>Register</span></h4>
              <p>Welcome to News & Articles!</p>
              <div class="floating-label">
                  <input
                  formControlName="Name"
                    placeholder="Full Name:"
                    type="text"
                    name="Name"
                    id="Name"
                    autocomplete="off"
                  />
                  <div
                  *ngIf="Name?.invalid && (isSubmit || Name?.dirty || Name?.touched)"
                >
                  <small class="text-danger py-2">
                    Full Name is Required
                  </small>
                </div>
                  <label for="Name">Full Name:</label>
                </div>
              <div class="floating-label">
                <input
                formControlName="Email"
                  placeholder="Email:"
                  type="email"
                  name="Email"
                  id="Email"
                  autocomplete="off"
                />
                <div
                *ngIf="Email?.invalid && (isSubmit || Email?.dirty || Email?.touched)"
              >
                <small class="text-danger py-2">
                  Email is Required
                </small>
              </div>
                <label for="Email">Email:</label>
              </div>
              <div class="floating-label">
                <input
                formControlName="Password"
                  placeholder="Password:"
                  type="password"
                  name="Password"
                  id="Password"
                  autocomplete="off"
                />
                <div
                *ngIf="Password?.invalid && (isSubmit || Password?.dirty || Password?.touched)"
              >
                <small class="text-danger py-2">
                  Password is Required
                </small>
              </div>
                <label for="Password">Password:</label>
              </div>
              <div class="floating-label">
                  <input
                  formControlName="NId"
                    placeholder="National ID:"
                    type="text"
                    name="NId"
                    id="NId"
                    autocomplete="off"
                  />
                  <div
                  *ngIf="NId?.invalid && (isSubmit || NId?.dirty || NId?.touched)"
                >
                  <small class="text-danger py-2">
                    National ID is Required
                  </small>
                </div>
                  <label for="NId">National ID:</label>
                </div>
                <div class="floating-label">
                  <input
                  formControlName="DateOfBirth"
                    placeholder="Date of Birth:"
                    type="date"
                    name="DateOfBirth"
                    id="DateOfBirth"
                    autocomplete="off"
                  />
                  <div
                  *ngIf="DateOfBirth?.invalid && (isSubmit || DateOfBirth?.dirty || DateOfBirth?.touched)"
                >
                  <small class="text-danger py-2">
                    Date of Birth is Required
                  </small>
                </div>
                  <label for="dateOfBirth">Date of Birth:</label>
                </div>
                <div class="floating-label">
                  <input
                  formControlName="UserName"
                    placeholder="User Name:"
                    type="text"
                    name="UserName"
                    id="UserName"
                    autocomplete="off"
                  />
                  <div
                  *ngIf="UserName?.invalid && (isSubmit || UserName?.dirty || UserName?.touched)"
                >
                  <small class="text-danger py-2">
                    User Name is Required
                  </small>
                </div>
                  <label for="UserName">User Name:</label>
                </div>
              <button (click)="newRegister()" class="btn btn-primary w-50 my-4">Sign Up</button>
              <p class="text-nowrap">
                Already Registered? <button class="register" [routerLink]="'/login'">Login Here</button>
              </p>
            </form>
    </div>
  </div>
</div>
