    <div class="my-4 nav justify-content-between">
      <p class="main-title d-flex flex-row mx-4">News & Articles</p>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home"
            ><i class="fa fa-home" aria-hidden="true"></i> Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/favourite"
            ><i class="fa fa-star" aria-hidden="true"></i> Favourite</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register"
            ><i class="fa fa-sign-in" aria-hidden="true"></i> Register</a
          >
        </li>
      </ul>
    </div>
